services:

  cop-web-server:
    build:
      context: ../
      dockerfile: ./cop.Dockerfile
    image: virtru-dsp-cop-web-server:dev
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: changeme
      POSTGRES_DB: postgres
      VITE_TILE_SERVER_URL: https://tile.openstreetmap.org/{z}/{x}/{y}.png
      VITE_GRPC_SERVER_URL: https://local-dsp.virtru.com:5002
      VITE_DSP_KAS_URL: https://local-dsp.virtru.com:8080/kas
      VITE_DSP_BASE_URL: https://local-dsp.virtru.com:8080
      VITE_DSP_KC_SERVER_URL: https://local-dsp.virtru.com:8443/auth/realms/opentdf
      VITE_DSP_KC_CLIENT_ID: dsp-cop-client
      VITE_DSP_KC_DIRECT_AUTH: false
      VITE_FORM_SUBMIT_NANO_TDF: true
    volumes:
      - ../config.yaml:/etc/dsp-cop/config.yaml
      - ../dsp-keys/rootCA.pem:/etc/ssl/certs/ca-certificates.crt
      - ../dsp-keys/local-dsp.virtru.com.pem:/dsp-keys/local-dsp.virtru.com.pem
      - ../dsp-keys/local-dsp.virtru.com.key.pem:/dsp-keys/local-dsp.virtru.com.key.pem
    ports:
      - 5001:5001
      - 5002:5002
    depends_on:
      cop-db-setup:
        condition: service_completed_successfully
      dsp:
        condition: service_healthy
        restart: true
    extra_hosts:
      - "local-dsp.virtru.com:172.17.0.1" #host and ip
      #- "host.docker.internal:host-gateway"
