# Local development
db-data
dsp-keys
proto_vendor/
credentials.json
#.venv/

# Binary
dsp-cop
geos-*.apk
geos/
# Sensitive or environment-specific configuration
etc/

# Nifi
**/truststore

# IDE
.vscode
.idea

# Bundle
virtru-dsp-bundle-*
virtru-dsp-bundle/

# Node 
node_modules/

#python vevn
COP_venv/

 
