# Local development
db-data
dsp-keys

# Binary
dsp-cop
geos-*.apk
geos/
# Sensitive or environment-specific configuration
etc/

# Nifi
**/truststore

# IDE
.vscode
.idea

# Bundle
virtru-dsp-bundle-*

# Node 
node_modules/
